---
import GitHub from "./icons/GitHub.astro"

const { title, description, link, github, image, tags } = Astro.props
---

<a href={link} target="_blank">
	<div class='group relative overflow-hidden rounded-xl border border-gray-800 p-[1px] backdrop-blur-3xl'>
		<span class='absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#E2CBFF_0%,#393BB2_50%,#E2CBFF_100%)]'></span>
		<div class='flex h-full w-full items-center justify-between rounded-xl bg-gray-950 text-sm font-medium text-gray-50 backdrop-blur-3xl'>
			<article class="h-full w-1/2 flex flex-col justify-center p-4">
				<div class="flex items-center gap-x-3">
					<h3 class="text-2xl font-semibold text-yellow-300 mb-2">{title}</h3>
					<a class="flex gap-x-2 items-center p-1 cursor-pointer mb-1 border border-gray-400 rounded-md hover:scale-110 hover:bg-white/20 transition">
						<GitHub class="size-6 text-gray-50" />
						Code
					</a>
				</div>
				<p class="text-base text-pretty mb-2 font-thin">{description}</p>
				<div class="flex gap-x-1">
					{tags.map((tag: any) =>
						<span class={`inline-flex cursor-pointer items-center justify-center rounded-full border border-gray-800 ${tag.bgColor} px-2 py-1 text-xs font-medium backdrop-blur-3xl`}>
							<span class={`flex gap-x-2 items-center ${tag.textColor}`}>
								{tag.icon && <tag.icon class="size-3" />}
								{tag.name}
							</span>
						</span>
					)}
				</div>
			</article>
			<div class="relative h-full w-1/2 overflow-hidden">
				<img class="h-full w-full object-cover filter saturate-0 group-hover:saturate-100 transition-transform duration-300 ease-in-out transform group-hover:scale-110" src={image} alt="Granny's recipes, a web to search and save recipes">
				<div class="absolute inset-y-0 left-0 w-12 bg-gradient-to-l from-transparent to-gray-950"></div>
			</div>
		</div>
	</div>
</a>




