---
import TailwindIcon from "./icons/Tailwind.astro"
import JavascriptIcon from "./icons/Javascript.astro"
import VueIcon from "./icons/Vue.astro"
import BootstrapIcon from "./icons/Bootstrap.astro"
import LaravelIcon from "./icons/Laravel.astro"
import AngularIcon from "./icons/Angular.astro"
import NodeIcon from "./icons/Node.astro"
import GitHub from "./icons/GitHub.astro"
import LinkIcon from "./icons/Link.astro"


const TAGS = {
    TAILWIND: {
      name: "Tailwind CSS",
      bgColor: "bg-[#003159]",
      textColor: "text-white",
      icon: TailwindIcon,
    },
    CSS: {
      name: "CSS",
      bgColor: "bg-blue-800",
      textColor: "text-white",
      icon: TailwindIcon,
    },
    JAVASCRIPT: {
      name: "JavaScript",
      bgColor: "bg-yellow-500",
      textColor: "text-black",
      icon: JavascriptIcon,
    },
    VUE: {
      name: "Vue.js",
      bgColor: "bg-[#42B782]",
      textColor: "text-black",
      icon: VueIcon,
    },
    BOOTSTRAP: {
      name: "Bootstrap",
      bgColor: "bg-[#7911F9]/70",
      textColor: "text-white",
      icon: BootstrapIcon,
    },
    LARAVEL: {
      name: "Laravel",
      bgColor: "bg-black",
      textColor: "text-[#FB2E22]",
      icon: LaravelIcon,
    },
    ANGULAR: {
      name: "Angular",
      bgColor: "bg-[#B63031]",
      textColor: "text-white",
      icon: AngularIcon,
    },
    NODEJS: {
      name: "Node.js",
      bgColor: "bg-black",
      textColor: "text-[#84CD29]",
      icon: NodeIcon,
    },
}

const PROJECTS = [
  {
    title: "Granny's Recipes",
    description: "Una plataforma para buscar y guardar recetas, dejar comentarios, y visualizar ubicaciones. Utiliza la API 'themealDB' y Bootstrap para el diseño, 'indexDB' para la base de datos, y 'Google Maps API' para la geolocalización.",
    link: "https://grannys-recipes.netlify.app/",
    github: "https://github.com/davidzz-code/granny_recipes.git",
    image: "/projects/grannys-recipes.webp",
    tags: [TAGS.JAVASCRIPT, TAGS.BOOTSTRAP,]
  },
  {
    title: "Bárbaro",
    description: "En equipo, creamos una plataforma para buscar, guardar recetas y dejar comentarios, usando la API 'themealDB' y Bootstrap para el diseño. También trabajamos con 'indexDB' para la base de datos y 'Google Maps API' para la ubicación.",
    link: "http://barbaro.randion.es",
    github: "https://github.com",
    image: "/projects/barbaro.webp",
    tags: [TAGS.VUE, TAGS.LARAVEL]
  },
  {
    title: "Galeria de imágenes design",
    description: "This is a description of project 3",
    link: "https://galeria-paises.netlify.app",
    github: "https://github.com/davidzz-code/Galeria.git",
    image: "/projects/galeria.webp",
    tags: [TAGS.CSS, TAGS.JAVASCRIPT]
  },
  {
    title: "Clon de Spotify",
    description: "Clon de Spotify",
    github: "https://github.com/davidzz-code/Spotify-Angular-clone.git",
    image: "/projects/spotify-clone.webp",
    tags: [TAGS.ANGULAR, TAGS.NODEJS]
  },
  {
    title: "CRUD de publicaciones",
    description: "Desarrollé un CRUD en Laravel en el que poder ver, editar, crear y borrar publicaciones. Además incluye registro de usuarios, autenticación para las distintas funcionalidades, uso de localización de Laravel para cambiar el idioma y  Tailwind para el diseño.",
    github: "https://github.com/davidzz-code/crud_publicaciones.git",
    link: "https://dramirezruiz.randion.es/formulario_laravel_posts/public",
    image: "/projects/publicaciones.webp",
    tags: [TAGS.LARAVEL, TAGS.TAILWIND]
  },
]
---
<div class="grid grid-cols-1">
  {
    PROJECTS.map(({image, title, description, tags, link, github}) => (
      <article class="group flex gap-x-7 mb-20">
        <div class="w-1/2 overflow-hidden rounded-lg">
          <img
            class="w-full object-cover transition-transform duration-300 ease-in-out transform group-hover:scale-110"
            src={image}
            alt={`Captura de pantalla del proyecto: '${title}'`}
          />
        </div>
        <div class="w-1/2 flex flex-col justify-between">
          <div>
            <h3 class="text-3xl font-bold">{title}</h3>
            <ul>
              {tags.map((tag: any) =>
                <span class={`opacity-90 inline-flex items-center justify-center rounded-full border border-gray-800 ${tag.bgColor} px-2 py-1 mx-1 my-3 text-xs font-medium backdrop-blur-3xl`}>
                  <span class={`flex gap-x-2 items-center ${tag.textColor}`}>
                    {tag.icon && <tag.icon class="size-3" />}
                    {tag.name}
                  </span>
                </span>
              )}
            </ul>
            <p class="text-gray-500 font-light dark:text-gray-400 text-pretty">{description}</p>
          </div>
          <div class="mt-auto flex gap-x-2">
            <a 
              class="text-sm flex gap-x-2 items-center p-1 cursor-pointer border border-gray-700 dark:border-gray-400 rounded-md hover:scale-105 hover:bg-white/20 transition"
              href={github}
              target="_blank"
            >
              <GitHub class="size-5 dark:text-gray-50" />
              Código
            </a>
            {
              link &&
              <a 
                class="text-sm flex gap-x-2 items-center p-1 cursor-pointer border border-gray-700 dark:border-gray-400 rounded-md hover:scale-105 hover:bg-white/20 transition"
                href={link}
                target="_blank"
              >
                <LinkIcon class="size-5 dark:text-gray-50" />
                Visitar
              </a>
            }
          </div>
        </div>
      </article>
    ))
  }
</div>